# MongoDB
MONGO_USER=solarmboa
MONGO_PASSWORD=solarmboa2025

# Neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=solarmboa2025

# InfluxDB
INFLUX_USER=solarmboa
INFLUX_PASSWORD=solarmboa2025
INFLUX_TOKEN=solarmboa-super-secret-token-2025
INFLUX_ORG=solarmboa-tech
INFLUX_BUCKET=solar_metrics