# Variables d'environnement pour NoSQL 
MONGO_USER=admin 
MONGO_PASS=SecurePass123 
NEO4J_USER=neo4j 
NEO4J_PASS=SecurePass456 
INFLUXDB_DB=solarmboa 
INFLUXDB_USER=admin 
INFLUXDB_PASS=SecurePass789 
